* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(15,23,42,0.9), rgba(15,23,42,0.9)),
                url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.4);
    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
}

.hero h2 {
    margin: 20px 0;
    color: #38bdf8;
}

.btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: #38bdf8;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* Sections */
.section {
    padding: 100px 10%;
}

.glass {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 40px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
}

/* Skills */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.skill-card {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    transition: 0.4s ease;
    border: 1px solid rgba(255,255,255,0.1);
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(56,189,248,0.2);
}

.skill-card h3 {
    margin-bottom: 20px;
    color: #38bdf8;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    padding: 8px 14px;
    background: rgba(56,189,248,0.15);
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.tags span:hover {
    background: #38bdf8;
    color: black;
}

/* Projects */
.card {
    margin-top: 40px;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    transition: 0.4s;
}

.card img {
    width: 40%;
    object-fit: cover;
}

.card-content {
    padding: 30px;
}

.card:hover {
    transform: scale(1.03);
}

/* Fade Animation */
.fade {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media(max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card img {
        width: 100%;
    }

    .hero h1 {
        font-size: 40px;
    }
}